<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система Обработки Документов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <style>
        .spinner {
          border: 16px solid #f3f3f3;
          border-top: 16px solid #3498db;
          border-radius: 50%;
          width: 120px;
          height: 120px;
          animation: spin 2s linear infinite;
        }
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    <!-- Контейнер для спинера -->
    <div id="loading-overlay" style="display:none;
                                     position: fixed;
                                     top: 0; left: 0;
                                     width: 100%; height: 100%;
                                     background: rgba(255,255,255,0.8);
                                     z-index: 9999;
                                     display: none;
                                     align-items: center;
                                     justify-content: center;">
        <div class="spinner"></div>
    </div>

    <div class="container">
        <h1>Система Обработки Документов</h1>

        <div>
            <div class="topper">
                <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data" id="uploadForm">
                    <label for="file">Выберите файл:</label>
                    <input type="file" name="file" id="file">
                    <div class="checkbox-group">
                        <label><input type="checkbox" name="summary" value="1">Генерация содержания</label><br>
                        <label><input type="checkbox" name="ner" value="1">Выделение сущностей</label>
                    </div>
                    <button type="submit" class="upload-button">Обработать</button>
                </form>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="messages">
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}
            
                {% if documents|length > 0 %}
                    <a href="{{ url_for('results', doc_id=documents[0][0]) }}" class="button">Просмотреть результаты</a>
                {% endif %}
            </div>

            <div class="navigator">
                <!-- <a href="{{ url_for('dataset') }}" class="button">База данных документов</a>
                <br> -->
                <a href="{{ url_for('elib_dataset') }}" class="button">База данных eLibrary</a>
            </div>
        </div>

        <div class='uploaded-docs-table'>
            <h2>Обработанные документы</h2>
            <form method="POST" action="{{ url_for('delete_documents') }}">
                <button type="submit" class="button">Удалить выбранные документы</button>
                <table>
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Имя файла</th>
                            <th>Дата загрузки</th>
                            <th>Дата создания</th>
                        </tr>
                        {% for doc in documents %}
                            <tr>
                                <td><input type="checkbox" name="document_ids" value="{{ doc[0] }}"></td>
                                <td>{{ doc[0] }}</td>
                                <td>
                                    <a href="{{ url_for('results', doc_id=doc[0]) }}">{{ doc[1] }}</a>
                                </td>
                                <td>{{ doc[2].strftime('%d.%m.%Y %H:%M:%S') }}</td>
                                {% if doc[3] %}
                                <td>{{ doc[3].strftime('%d.%m.%Y %H:%M:%S') }}</td>
                                {% else %}
                                <td>Пусто</td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="center">База данных пуста</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div id="delete-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <p>Вы уверены, что хотите удалить выбранные документы?</p>
            <button id="confirm-delete" class="button">Да, удалить</button>
            <button id="cancel-delete" class="button">Отмена</button>
        </div>
    </div>

    <script>
        document.querySelector('form').addEventListener('submit', function() {
            document.getElementById('loading-overlay').style.display = 'flex';
        });
    </script>
</body>
</html>
