# .gitignore

__pycache__/
.ipynb_checkpoints/
.app.py.swp

Data/
Verifying/
pgdata/
happy_pgdata/

static/Uploads/

Models/SpellCheck/*
Models/Summary/*
Models/Similarity/*
Models/OCR/*
Models/Vectors/*
Models_all/

Source/__pycache__/
Source/.ipynb_checkpoints/
Source/Classification/
Source/support.ipynb
Source/Summarizer/logs*.txt

Utility/__pycache__/
Utility/.ipynb_checkpoints/
Utility/NER_System/

Utility/Loader/logs*.txt
Utility/Cleaner/logs*.txt
Utility/Summarizer/logs*.txt
Utility/Corrector/logs*.txt

*.sql
*.rar

DocumentAnalysisSystem.code-workspace