# V:\anaconda3\Scripts\activate.bat
# conda activate taiga

numpy==1.23.5
pandas==1.5.3
PyPDF2
docx
PyMuPDF
# torch==2.2.1
# torchvision==0.19.1
transformers==4.38
sentencepiece==0.2.0
opencv-python>=4.5.5.64,<4.6.0
gensim==3.8.2
spacy==3.7.6
flask==3.0.3
flask-socketio==5.3.7
fastapi==0.89.1
notebook==7.1.1
python-docx==1.1.2
pdf2image==1.17.0
pytesseract==0.3.13
python_docx==1.1.2
pytest==8.3.3
psycopg2==2.9.9
# protobuf

spacy[cuda11x]